@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* SECTION */

.hero {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 69.5vh;
  justify-content: center;
  margin: 0 0;
  overflow: hidden;
  color: white;
}

/* CONTAINER */

.hero-container {
  width: 89vw;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* INTRO TEXT */

.hero-intro {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.75rem;
  color: #dbeafe; /* Tailwind blue-100 */
  max-width: 20rem;
}

/* TITLE */

.hero-title-wrapper {
  margin: 1.25rem 0;
}

.hero-title {
  font-size: clamp(2rem, 5vw, 3.2rem);
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  span{
    background: linear-gradient(90deg, #919191, #cbc7e6, #d4d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
}

/* DESCRIPTION */

.hero-description {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #dbeafe;
  max-width: 650px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* BUTTON */

.hero-button {
  margin-top: 2.5rem;
  text-decoration: none;
}
